parameters:
    level: 9
    paths:
        - tests
    excludePaths:
        - tests/Fixtures (?)
        - tests/bootstrap.php
    stubFiles:
        - src/stubs/OpenSwoole.php
        - src/stubs/Redis.php
    ignoreErrors: []

